{% extends 'base.back.html.twig' %}

{% block title %}Edit Publicite{% endblock %}

{% block main %}
<style>
    .container {
        width:50%;
        min-width: 300px;
    }
</style>
<div class="container">
    <h1>Edit Publicite</h1>

    {{ include('publicite/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('publicite_index') }}">back to list</a>

    {{ include('publicite/_delete_form.html.twig') }}
</div>
{% endblock %}
