{% extends 'base.back.html.twig' %}

{% block title %}New Publicite{% endblock %}

{% block main %}
    <style>
        li{
            color: red;
            font-size: 15px;
            width: 10%;
        }
    </style>
    <style>
        .container {
            width:50%;
            min-width: 300px;
        }

    </style>
    <div class="container">
        <h1>Create new Publicite</h1>
        {{ include('publicite/_form.html.twig') }}
        <a class="btn btn-success" style="width: 90%" href="{{ path('publicite_index') }}">Show ADS</a>
    </div>

{% endblock %}
