{% extends 'base.html.twig' %}

{% block title %}New Publicite{% endblock %}

{% block body %}
    <h1>Create new Publicite</h1>

    {{ include('publicite/_form.html.twig') }}

    <a href="{{ path('publicite_index') }}">back to list</a>
{% endblock %}
