{% extends 'base.back.html.twig' %}

{% block title %}Hello BaseHomePageController!{% endblock %}

{% block main %}
    <div class="container text-center">
        <img src="images/logo.png"/>
        <h1 style="font-size: 120px">Geeks dashboard</h1>
    </div>
{% endblock %}