{% extends 'base.back.html.twig' %}

{% block title %}Edit Gamers{% endblock %}

{% block body %}
    <h1>Edit Gamers</h1>

    {{ include('gamers/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('gamers_index') }}">back to list</a>

    {{ include('gamers/_delete_form.html.twig') }}
{% endblock %}
