{% extends 'base.back.html.twig' %}

{% block title %}New Gamers{% endblock %}

{% block main %}
<div class="container text-left">
    <h1>Create new Gamers</h1>

    {{ include('gamers/_form.html.twig') }}

    <a href="{{ path('gamers_index') }}" class="btn btn-primary" ">back to list</a>
    </div>
{% endblock %}
